body {
	background: url("../images/abackground.jpe");
    font-family: 'Permanent Marker', cursive;
    color: white;
    margin: 25px;
    text-align: center;
}

img {
	height: 120px;
	width: 150px;
	border-radius: 10px;
}

.character-image {
	padding: 0px 16px;
	margin: 3px 0px;
}

.section-title {
	font-size: 200%;
}

.action-section {
	margin: 15px 0px;
}

.main-section-title {
	font-size: 300%;
	text-align: center;
}

.character {
	border-style: solid;
	border-color: green;
	border-width: 3px;
	cursor: pointer;
	display: inline-block;
	background-color: white;
    margin: 15px;
}

.character-name {
	text-align: center;
    color: grey;
}

.character-health {
	text-align: center;
    color: grey ;
}

.enemy {
	border-style: solid;
	border-color: black;
	border-width: 1px;
	cursor: pointer;
	display: inline-block;
	background-color: red;
}

#selected-character {
	width: 190px;
	height: 190px;
    /*margin-left: 30px;*/
}

#attacker {
	width: 190px;
	height: 160px;
}

#defender {
	width: 190px;
	height: 190px;
    /*margin-left: 30px;*/
}

#defender-name {
	text-align: center;
}

#defender-image {
	padding: 0px 16px;
	margin: 3px 0px;
}

#defender-health {
	text-align: center;
}

#choose-enemy-button {
	visibility: hidden;
}

#restart-button {
	visibility: hidden;
    color: black;
}

#turn-counter {
	font-size: 150%;
}
.target-enemy {
	background-color: black;
	color: white;
    margin-left: 30px;
}

#attack-button{
    color: black;
}

#restartB{
    color: black;
}

p{
    font-size: 130%;
}
